extends ../layout

block header 
  #main-heading
    p#logo Classically
    #buttons
      if loggedIn == false
          button#signInBtn(type='button') Sign in 
          button#registerBtn(type='button') Register 
      else
          button#logOutBtn(type='button') Log Out
      #cart
          button#cartBtn(type='button') Cart   
          p#num-of-items 0
    #search
        input#keyword(type='text' placeholder='Keyword(s)' name='keyword')
        button#searchBtn(type='button') Search 

    
  
block content
  #login-card
    #message
      p#logo Classically
      p Come join us and enjoy the benefits! 
    form#cred-form(action='/create', method='POST')
        input#username(type='text' placeholder='Desired Username' name='username')
        block warning-username
        br
        input#password(type='password' placeholder='Desired Password' name='password')
        block warning-password
    br
    button#backBtn(type='button') BACK
    button#confirmBtn(type='button') CONFIRM
    
   


  

