doctype html 
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #blank-page
        if message == "Logging out"
            h2=message
        else    
            h1=message
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js') 
    script(src='/javascripts/externalJS.js')
    
